@model IEnumerable<PhoneBook.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2> 

<table class="table">
    <thead class="thead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middle_initial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cell_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office_ext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IRD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Middle_initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Home_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cell_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office_ext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IRD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-default">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ContactId" class="btn btn-default">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-default">Delete</a>
                </td>
            </tr>
        }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a asp-action="Create" class="btn btn-default">Create New</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    
                </td>
            </tr>
    </tbody>
</table>

